.backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
