*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
img {
  display: block;
  height: auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
