:root {
  --color-header: #d41443;
  --color-header-label: #ffa5ba;
  --color-black: #000;
  --color-white: #fff;
  --color-ice-cream: #ffb8ca;
  --color-ice-coffee: #f0d1a5;
  --color-milkshakes: #c2e297;
  --color-mobile-menu: #e17992;
  --color-secondary-background: #fff5f6;
}
