:root {
  --color-header: #d41443;
  --color-header-label: #ffa5ba;
  --color-black: #000;
  --color-white: #fff;
  --color-ice-cream: #ffb8ca;
  --color-ice-coffee: #f0d1a5;
  --color-milkshakes: #c2e297;
  --color-mobile-menu: #e17992;
  --color-secondary-background: #fff5f6;
  --font-header-desktop: 58px;
  --font-header-tablet: 48px;
  --font-header-mobile: 34px;
  --font-header-label-desktop: 30px;
  --font-header-label-tablet: 26px;
  --font-header-label-mobile: 18px;
  --font-footer: 14px; //tylko Copyright
  --font-16px: 16px;
  --font-14px: 14px;
  --font-12px: 12px;
}
