<section class="about section">
  <div class="container" id="how-it&#8217;s-made">
    <p class="header-3 about__label">tradition and love</p>
    <h2 class="header-2 about__title">how it&#8217;s made?</h2>
    <div class="about__position">
      <img
        class="about__img"
        src="./images/mobile/about_cow_x1_280.png"
        srcset="./images/mobile/about_cow_x2_560.png"
        alt="krowa i dzbanek mleka"
      />
      <!--<picture>
                        <source srcset="./images/mobile/about_cow_x2_560.png 2x" media="(max-width: 767px)" />
                        <source srcset="./image/tablet/about_cow_x1_340.png 1x, ./image/tablet/about_cow_x2_680.png 2x" media="(min-width: 768px)" />
                        <source srcset="./image/desktop/about_cow_x1_516.png 1x,./image/desktop/about_cow_x2_516.png 2x" media="(min-width: 1280px)" />
                        <img class="about__img" src="./images/mobile/about_cow_x1_280.png" alt="krowa i dzbanek mleka" />
                      </picture>-->
      <div class="about__content-wrapper">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text about__text--part2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button class="button-about button button--bright" type="button">
          Read more
          <svg class="button-about__svg">
            <use href="./images/icons.svg#icon-arrow-without-line"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <img
    class="about__background"
    src="./images/mobile/about_background_x1_320.png"
    srcset="./images/mobile/about_background_x2_640.png"
    alt="rozlewające się mleko"
  />
</div>
