<div class="about">
<section class="section">
    <p class="about__tittle">tradition and love</p>
    <h class="about__section-tittle">how it’s made?</h>
      <div class="about__position">
        <img  class="about__img" src="./images/mobile/about_krowa_mobile_x1_280.png"
        srcset="./images/mobile/about_krowa_mobile_x1_280.png ./images/mobile/about_krowa_mobile_x2_560.png 2x" 
        sizes="280px"
        alt="krowa i dzbanek mleka" />
      <p class="about__text1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
<p class="about__text2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br/>
<br />
Aliquam erat volutpat. Aenean accumsan.</p>

<button class="button button--bright button-position" type="button">Read more
    <svg class="about__svg">
      <use href="./images/icons.svg#icon-arrow-without-line"></use>
    </svg>
</button>
<div class="about__backgroud"></div>
</div>
</section>
</div>