<div class="container">
  <h1 class="header__advantages">Advantages</h1>
  <ul class="gap gap--about">
    <li class="advantages__box">
      <p class="advantages__heading advantages__heading--first">721</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__box">
      <p class="advantages__heading advantages__heading--second">16kg</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__box">
      <p class="advantages__heading advantages__heading--last">84</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</div>
