<!-- ========== CONTACTS ============ -->

<section>
  <div class="contacts">
    <h2 class="contacts__title">Contacts</h2>
    <div class="contacts__card">
      <button class="contacts__label">CAFE</button>
      <ul class="contacts__list">
        <li class="contacts__item">
          <strong>Chicago</strong>
          <p class="contacts__discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__item">
          <strong>Monday - Friday</strong>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <strong>Monday - Friday</strong>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="contacts__card">
      <button class="contacts__label contacts__label--color">FOODTRUCK</button>
      <ul class="contacts__list">
        <li class="contacts__item">
          <strong>Los Angeles</strong>
          <p class="contacts__discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__item">
          <strong>Monday - Friday</strong>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <strong>Monday - Friday</strong>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="contacts__card">
      <button class="contacts__label">CAFE</button>
      <ul class="contacts__list">
        <li class="contacts__item">
          <strong>New York</strong>
          <p class="contacts__discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contacts__item">
          <strong>Monday - Friday</strong>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <strong>Monday - Friday</strong>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- ========== CONTACTS BUTTONS ============ -->

  <div class="contacts-buttons">
    <button class="contacts-buttons__item button button--dark" type="button" data-modal-open>
      Our Locations<svg class="contacts-buttons__svg contacts-buttons__svg--color">
        <use href="./images/icons.svg#icon-arrow-without-line"></use>
      </svg>
    </button>
    <button class="contacts-buttons__item button button--bright" type="button">
      Franchise
      <svg class="contacts-buttons__svg">
        <use href="./images/icons.svg#icon-arrow-without-line"></use>
      </svg>
    </button>
  </div>
</section>
