<section class="section">
  <div class="container swiper">
    <div class="customers-review swiper-wrapper" id="about-us">
      <div class="swiper-slide">
        <div class="customers-review__img-container customers-review__img-container--first"></div>
        <div class="customers-review__first-box">
          <svg class="customers-review__icon-quote">
            <use href="./images/icons.svg#icon-quote"></use>
          </svg>
          <article class="customers-review__article">
            <div class="customers-review__gradient">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </div>
          </article>
        </div>
        <div class="customers-review__second-box">
          <svg class="customers-review__icon-dots">
            <use href="./images/icons.svg#icon-lower-dots"></use>
          </svg>
          <p class="customers-review__text">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="customers-review__img-container customers-review__img-container--second"></div>
        <div class="customers-review__first-box">
          <svg class="customers-review__icon-quote">
            <use href="./images/icons.svg#icon-quote"></use>
          </svg>
          <article class="customers-review__article">
            <div class="customers-review__gradient">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis itaque excepturi
              a quidem dolor nostrum delectus consectetur in amet laudantium?
            </div>
          </article>
        </div>
        <div class="customers-review__second-box">
          <svg class="customers-review__icon-dots">
            <use href="./images/icons.svg#icon-lower-dots"></use>
          </svg>
          <p class="customers-review__text">Ashley, New York</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="customers-review__img-container customers-review__img-container--third"></div>
        <div class="customers-review__first-box">
          <svg class="customers-review__icon-quote">
            <use href="./images/icons.svg#icon-quote"></use>
          </svg>
          <article class="customers-review__article">
            <div class="customers-review__gradient">
              Accusamus dolorum, id maxime modi nulla sed libero quo itaque tempora labore at
              aspernatur Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quo?
            </div>
          </article>
        </div>
        <div class="customers-review__second-box">
          <svg class="customers-review__icon-dots">
            <use href="./images/icons.svg#icon-lower-dots"></use>
          </svg>
          <p class="customers-review__text">Cortney, Chicago</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination">
      <div class="customers-review__ikons swiper-pagination-bullet" tabindex="0">1</div>
      <div class="customers-review__ikons swiper-pagination-bullet" tabindex="0">2</div>
    </div>
  </div>
</section>
