<section class="customers-review">
  <div class="container">
    <img class="customers-img" src="./images/mobile/customers-review-icon.png" />
    <div class="customers-first-box">
      <svg class="customers-first-box__icon">
        <use href="./images/icons.svg#icon-quote"></use>
      </svg>
      <article class="customers-first-box__text">
        <div class="customers-first-box__gradient">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </div>
      </article>
    </div>
    <div class="customers-second-box">
      <svg class="customers-second-box__icon-dots">
        <use href="./images/icons.svg#icon-lower-dots"></use>
      </svg>
      <p class="customers-second-box__text">Emily, Los Angeles</p>
      <div class="customers-second-box__ikons">
        <svg class="customers-second-box__icon-home">
          <use href="./images/icons.svg#icon-home"></use>
        </svg>
        <div class="customers-second-box__circle"></div>
        <div class="customers-second-box__circle"></div>
      </div>
    </div>
  </div>
</section>
