<section class="section">
  <div class="container">
    <div class="customers-review">
      <div class="customers-review__img-container">
        <img src="./images/mobile/customers-review-icon.png" />
      </div>
      <div class="customers-review__first-box">
        <svg class="customers-review__icon-quote">
          <use href="./images/icons.svg#icon-quote"></use>
        </svg>
        <article class="customers-review__article">
          <div class="customers-review__gradient">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
        </article>
      </div>
      <div class="customers-review__second-box">
        <svg class="customers-review__icon-dots">
          <use href="./images/icons.svg#icon-lower-dots"></use>
        </svg>
        <p class="customers-review__text">Emily, Los Angeles</p>
        <div class="customers-review__ikons">
          <svg class="customers-review__icon-home">
            <use href="./images/icons.svg#icon-home"></use>
          </svg>
          <div class="customers-review__circle"></div>
          <div class="customers-review__circle"></div>
        </div>
      </div>
    </div>
  </div>
</section>
