<footer id="footer" class="footer">
  <div class="footer__wrapper container">
    <div class="footer-left">
      <p class="footer-left__title">homemade ice cream made</p>
      <p class="footer-left__description">with passion</p>
    </div>
    <div class="footer-right">
      <div class="socials">
        <a href="https://github.com/" target="_blank">
          <div class="socials__icon">
            <svg width="19" height="19">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </div>
        </a>
        <a href="https://telegram.org/" target="_blank">
          <div class="socials__icon">
            <svg width="19" height="19" transform="x-20px">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </div>
        </a>
        <a href="https://facebook.com" target="_blank">
          <div class="socials__icon">
            <svg width="19" height="19">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </div>
        </a>
      </div>
      <address class="footer-right__address">
        <span>Feel free to contact </span>
        <a class="footer-right__phone" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </address>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="copyright">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
