<div class="modal header-modal-form" data-modal="buy-now">
  <svg class="modal__cross header-modal-form__icon js-modal-close">
    <use href="./images/icons.svg#icon-close"></use>
  </svg>
  <form class="form" name="modal_form" autocomplete="on" method="post">
    <h3 class="form__header">Leave your details in the form below</h3>
    <div class="form__box">
      <label class="form__label" for="username">
        <p class="form__text">Full Name</p>
        <svg class="form__icon" width="18" height="18">
          <use xlink:href="./images/icons.svg#icon-person"></use>
        </svg>
      </label>
      <input
        class="form__input"
        type="text"
        name="username"
        id="username"
        placeholder="John Doe"
        required
      />
    </div>
    <div class="form__box">
      <label class="form__label" for="tel">
        <p class="form__text">Phone Number</p>
        <svg class="form__icon" width="18" height="18">
          <use xlink:href="./images/icons.svg#icon-phone"></use>
        </svg>
      </label>
      <input
        class="form__input"
        type="tel"
        name="phone_number"
        id="tel"
        placeholder="Format 333-333-333"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
        required
      />
    </div>
    <div class="form__box">
      <label class="form__label" for="email">
        <p class="form__text">E-mail</p>
        <svg class="form__icon" width="18" height="18">
          <use xlink:href="./images/icons.svg#icon-email"></use>
        </svg>
      </label>
      <input
        class="form__input"
        type="email"
        name="email"
        id="email"
        placeholder="example@domain.com"
        required
      />
    </div>
    <div class="form__box">
      <label class="form__label" for="comment-area"><p class="form__text">Comment</p></label>
      <textarea
        class="form__comment"
        name="comment"
        id="comment-area"
        rows="5"
        placeholder="Leave your comment"
      ></textarea>
    </div>
    <div class="form__box form__box--secondary">
      <label class="form__label form__label--secondary" for="quantity"
        ><p class="form__text form__text--font-bigger">
          Number of ice-cream (multiples of 5):
        </p></label
      >
      <input
        class="input-number"
        type="number"
        name="quantity"
        id="quantity"
        step="5"
        min="5"
        max="95"
        placeholder="5"
        required
      />
      <span class="input-number__validity"></span>
    </div>
    <div class="form__box">
      <input
        class="checkbox"
        type="checkbox"
        name="acceptance_checkbox"
        id="acceptance-checkbox"
        value="acceptance of the regulations and privacy policy"
        required
      />
      <label class="checkbox__label" for="acceptance-checkbox">
        <p class="checkbox__text">
          I declare that I accept
          <a class="checkbox__link" href="#">Regulations</a> and
          <a class="checkbox__link" href="#">Privacy Policy.</a>
        </p></label
      >
    </div>
    <div class="form__btn-case">
      <button class="button button--bright form__btn" type="submit">
        Buy now<svg class="form__btn-case__icon" width="8" height="10">
          <use xlink:href="./images/icons.svg#icon-arrow-without-line"></use>
        </svg>
      </button>
      <p class="form__text form__text--secondary">We will contact you via E-mail or Phone Number</p>
    </div>
  </form>
</div>
