<header class="header">
  <div class="container">
    <div class="header-box">
      <img
        src="./images/mobile-imgs/logo-199.png"
        srcset="./images/mobile-imgs/logo-199.png 199w, ./images/mobile-imgs/logo-398.png 398w"
        sizes="199px"
        alt="Logo ICE CREAM"
      />
      <button
        class="mobile-menu__toggle open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      ></button>
    </div>
    <div class="h1-box">
      <h1 class="h1">ice cream made with <span class="h1--different">passion</span></h1>
    </div>
    <div class="buttons-header">
      <button type="button"><a href="#" class="">Products</a></button>
      <button type="button"><a href="#" class="">How it&#8217;s made?</a></button>
    </div>
    <div class="header-img">
      <div class="header-img__ice-cream"></div>
      <div class="header-img__circle"></div>
    </div>
  </div>
</header>
