<div class="backdrop is-hidden" backdrop></div>
<div class="mobile-menu">
  <button
    class="mobile-menu__toggle mobile-menu__toggle--makeover close-menu"
    type="button"
    backdrop-close
  >
    <svg width="14" height="14"><use xlink:href="./images/icons.svg#icon-close"></use></svg>
  </button>
  <button class="mobile-menu__btn button button--bright" type="button">
    Buy now<svg class="mobile-menu__icon" width="8" height="10">
      <use xlink:href="./images/icons.svg#icon-arrow-without-line"></use>
    </svg>
  </button>
  <nav>
    <ul class="mobile-nav">
      <li class="mobile-nav__item"><a class="mobile-nav__link" href="#home">Home</a></li>
      <li class="mobile-nav__item"><a class="mobile-nav__link" href="#about-us">About us</a></li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#how-it&#8217;s-made">How it&#8217;s made?</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#our-products">Our products</a>
      </li>
      <li class="mobile-nav__item"><a class="mobile-nav__link" href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>
