<div class="mobile-menu">
  <button class="mobile-menu__toggle mobile-menu__toggle--makeover close-menu" type="button">
    <svg width="14" height="14"><use xlink:href="./images/icons.svg#icon-close"></use></svg>
  </button>
  <button class="mobile-menu__btn button button--bright" type="button">Buy now</button>
  <ul class="mobile-nav">
    <li class="mobile-nav__item"><a class="mobile-nav__link" href="#">Home</a></li>
    <li class="mobile-nav__item"><a class="mobile-nav__link" href="#">About us</a></li>
    <li class="mobile-nav__item"><a class="mobile-nav__link" href="#">How it&#8217;s made?</a></li>
    <li class="mobile-nav__item"><a class="mobile-nav__link" href="#">Our products</a></li>
    <li class="mobile-nav__item"><a class="mobile-nav__link" href="#">Contact</a></li>
  </ul>
</div>
