<!-- ============== MODAL MAP ================= -->
<div class="back-drop is-hid" data-modal>
  <div class="modal-map">
    <button class="modal-map__button button button--dark" type="button" data-modal-close>
      ZAMKNIJ
    </button>
    <iframe
      class="modal-map__window-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2445.001382314338!2d21.003814712786333!3d52.20702237186396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecd841b4a85a3%3A0x14610769e417e965!2sLodziarnia%20naLody!5e0!3m2!1spl!2spl!4v1671218747448!5m2!1spl!2spl"
      width="90%"
      height="90%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
