<section class="section">
  <div class="container products" id="our-products">
    <div class="products__label">
      <p class="header-3">100% NATURAL</p>
      <h2 class="header-2 products__header">PRODUCTS</h2>
    </div>
    <ul class="gap gap--products">
      <li class="product product--ice-cream">
        <div class="product__background">
          <h3 class="product__name">ICE CREAM</h3>

          <svg class="product__dots">
            <use href="./images/icons.svg#icon-dots"></use>
          </svg>

          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="product__button js-open-modal" data-modal="ice-cream">
            <svg class="product__arrow-right">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product product--ice-coffee">
        <div class="product__background product__background--ice-coffee">
          <h3 class="product__name">ICE COFFEE</h3>
          <svg class="product__dots">
            <use href="./images/icons.svg#icon-dots"></use>
          </svg>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="product__button js-open-modal" data-modal="ice-coffee">
            <svg class="product__arrow-right">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product product--milkshake">
        <div class="product__background product__background--milkshake">
          <h3 class="product__name">MILKSHAKES</h3>
          <svg class="product__dots">
            <use href="./images/icons.svg#icon-dots"></use>
          </svg>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="product__button js-open-modal" data-modal="milkshakes">
            <svg class="product__arrow-right">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
