<div class="modal modal__products modal__products--ice-cream" data-modal="ice-cream">
  <svg class="modal__cross modal__cross--ice-cream js-modal-close">
    <use href="./images/icons.svg#icon-close"></use>
  </svg>

  <p class="products-modal__title products-modal__title--ice-cream">ICE CREAM</p>
  <p class="products-modal__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing
    elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
  </p>
</div>

<div class="modal modal__products modal__products--ice-coffee" data-modal="ice-coffee">
  <svg class="modal__cross modal__cross--ice-coffee js-modal-close">
    <use href="./images/icons.svg#icon-close"></use>
  </svg>
  <p class="products-modal__title products-modal__title--ice-coffee">ICE COFFEE</p>
  <p class="products-modal__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing
    elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
  </p>
</div>
<div class="modal modal__products modal__products--milkshakes" data-modal="milkshakes">
  <svg class="modal__cross modal__cross--milkshakes js-modal-close">
    <use href="./images/icons.svg#icon-close"></use>
  </svg>
  <p class="products-modal__title products-modal__title--milkshakes">MILKSHAKES</p>
  <p class="products-modal__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing
    elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
  </p>
</div>
<div class="overlay js-overlay-modal"></div>
