<section class="container wrapper">
    <div class="products__titles">
      <a class="products__top-line" id="100%_natural">100% NATURAL</a>
      <h1 class="products__header">PRODUCTS</h1>
    </div>
    <ul class="products-wrapper">
      <li class="products__card">
        <div class="products__image"></div>
        <div class="card-background">
          <h3>ICE CREAM</h3>
          <svg>
            <use href="./images/icons.svg#icon-dots"></use>
          </svg>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
      </li>
      <li class="products__card">
        <div class="card-background card-background__ice-coffee"></div>
      </li>
  
      <li class="products__card">
        <div class="card-background card-background__milkshakes"></div>
      </li>
    </ul>
  </section>