.about {
  background-color: rgba(255, 245, 246, 1);
  padding-top: 125px;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-left: 39px;
    padding-right: 36px;
  }

  &__label {
    font-family: 'Titan One';
    font-size: var(--font-header-label-mobile);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-header-label);

    @media screen and (min-width: 768px) {
      font-size: 26px;
      padding-top: 130px;
    }
  }

  &__title {
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.13;
      padding-top: 16px;
    }
  }

  &__position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 26px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 50px;
      max-height: 400px;
      max-width: 679px;
      justify-content: space-between;
    }
  }

  &__about__img {
    margin-bottom: 46px;
    @media screen and (min-width: 768px) {
      width: 516px;
      height: 339px;
      padding-bottom: 166px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: var(--font-12px);
    line-height: 162%;
    color: var(--color-black);
    padding: 0 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: var(--font-14px);
      line-height: 176%;
      width: 340px;
    }
  }

  &__text--part2 {
    color: #907e82;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: var(--font-14px);
      width: 340px;
    }
  }

  &__backgroud {
    height: 133px;
    width: 100vw;
    background-image: url('../images/mobile/about_background_x1_320.png');
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 76px;
    background-size: cover;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      display: none;
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    background-image: url('../images/mobile/about_background_x2_640.png');
    background-size: 320px 133px;
    background-repeat: no-repeat;
  }

  .button_about {
    position: relative;
    width: 176px;
    padding-left: 34px;
    padding-right: 59px;
    margin-left: 30px;

    &__svg {
      position: absolute;
      top: 17px;
      left: 135px;
      height: 10px;
      width: 7px;
    }
  }
}
