.about{
    background-color: rgba(255, 245, 246, 1);
   
 
    


    &__label{
        font-family: 'Titan One';
        font-size: var(--font-header-label-mobile);
         text-align: center;
        text-transform: uppercase;
        color:var(--color-header-label);
        padding-top: 125px;
      
        

    }

    &__tittle{
        font-family: 'Titan One';
        font-size: 34px;
        line-height: 1.14;
         letter-spacing: 0.04em;
         text-transform: uppercase;
         color: #D41443;
        margin-top: 15px;
      display: inline-block;
            text-align: center;
      
     
    }

         &__position {
             display: flex;
             flex-direction: column;
             justify-content: center;
             gap: 47px;
             flex-wrap: nowrap;
             padding-top: 26px;
         }

    

       
    

    &__text{
        font-weight: 500;
        font-size: var(--font-12px);
        line-height: 162%;
        color:var(--color-black);
        margin-left: 30px;
        margin-right: 30px;
        
        
    }

    &__text--part2{
      color: #907E82;
  
    }

        &__backgroud{
            
            height: 133px;
            width: 100vw;
            background-image: url('../images/mobile/about_background_x1_320.png');
            background-repeat: no-repeat;
            position: absolute;
            z-index: 5;
            left: 0;    
            
            background-size: cover;
            /*top: 3417px;*/
                     
         } 
         
         @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
                screen and (min-resolution: 192dpi) and (min-width: 320px),
                screen and (min-resolution: 2dppx) and (min-width: 320px) {
                    background-image: url('../images/mobile/about_background_x2_640.png');
                    background-size: 320px 133px;
                    background-repeat: no-repeat;

                }

              

                &__svg{
                 width: 4.43px;
                height: 8px;
                
                                 }
            }


        @media screen and (min-width: 768px) {
                .about {
             padding-left: 39px;
             padding-right: 36px;
             

    &__label {
         
            font-size: 26px;
            padding-top: 130px;
                        }

     &__tittle {
                            
            font-size: 48px;
            line-height:1.13;
            padding-top: 16px;
            }       
        
         &__position {
             display: flex;
             flex-direction: column;
            
            gap: 17px;
            flex-wrap: wrap;
            padding-top: 50px;
            max-height: 400px;
            max-width: 679px;
            justify-content: space-between;
               
                         }

                         &__about__img {
                            width: 516px;
                            height: 339px;
                            padding-bottom: 166px;
                         }
        &__text1 {
                  
            font-size: var(--font-14px);
            line-height: 176%;
            width: 340px;
                 }

        &__text2 {  
            font-size: var(--font-14px);
            width: 340px;
                 }

                &__backgroud {
                    display: none;
                }

                              
    }
}