.button {
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--font-16px);
  line-height: 1.31;
  border: none;

  &--bright {
    color: #d41443;
    background-color: #fff;
    &:hover {
      background-color: #ecebeb;
    }
  }

  &--dark {
    color: #fff;
    background-color: #d41342;
    &:hover {
      background-color: #c7133e;
    }
  }
}
