.footer {
  background-color: var(--color-secondary-background);

  &__wrapper {
    padding-bottom: 43px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      padding-bottom: 91px;
    }

    @media screen and (min-width: 1280px) {
      padding-bottom: 97px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }
}

.footer-left {
  &__title {
    font-family: var(--font-header);
    font-size: var(--font-header-label-mobile);
    line-height: 1.17;
    text-transform: uppercase;
    width: 232px;
    color: var(--color-header-label);
    margin-block-end: 17px;

    @media screen and (min-width: 768px) {
      font-size: var(--font-header-label-tablet);
      line-height: 1.15;
      letter-spacing: 0.04em;
      width: 340px;
    }

    @media screen and (min-width: 1280px) {
      font-size: var(--font-header-label-desktop);
      line-height: 1.13;
      width: 472px;
    }
  }

  &__description {
    font-family: var(--font-header);
    font-size: var(--font-header-mobile);
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 200px;
    margin-bottom: 43px;
    color: #d41443;

    @media screen and (min-width: 768px) {
      font-size: var(--font-header-tablet);
      line-height: 1.15;
      letter-spacing: 0.06em;
      width: 340px;
    }

    @media screen and (min-width: 1280px) {
      font-size: var(--font-header-desktop);
      line-height: 1.14;
      width: 478px;
    }
  }
}
.footer-right {
  &__address {
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-12px);
    line-height: 1.83;
    text-align: right;
    /*width: 230px;*/

    @media screen and (min-width: 768px) {
      font-size: var(--font-14px);
      line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
      font-size: var(--font-16px);
      line-height: 1.88;
      letter-spacing: 0.02em;
    }
  }

  &__phone {
    color: #d41443;
  }
}

.copyright {
  font-weight: 700;
  line-height: 1.5;
  /* or 21px */
  padding-bottom: 25px;
  padding-top: 22px;

  color: #907e82;
  width: 140px;

  @media screen and (min-width: 768px) {
    width: 276px;
    letter-spacing: 0.02em;
  }
}
