.header-modal-form {
  background-color: var(--color-form-bg);
  width: 94%;
  max-width: 500px;
  height: 94%;
  max-height: 650px;
  border-radius: 10px;
  padding-bottom: 10px;

  @media screen and (max-width: 376px) {
    padding: 10px;
  }

  @media screen and (max-width: 767px) {
    overflow-y: scroll;
  }

  @media screen and (min-width: 465px) {
    max-height: 620px;
  }

  @media screen and (min-width: 510px) {
    max-height: 600px;
  }

  @media screen and (max-height: 650px) and (orientation: landscape) {
    overflow-y: scroll;
  }
}

.header-modal-form__icon {
  --color2: var(--color-form-text);
}
