.header {
  background-color: var(--color-ice-cream);
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 160px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
    padding-bottom: 34px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 56px;
  }
}

.header-box-container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-inline: 35px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 46px;
    padding-right: 115px;
  }
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 137px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  &--secondary {
    gap: 30px;
    margin-bottom: 0;
  }
}

.header-box__btn {
  width: 160px;
  position: relative;
  transition: background-color 250ms;
}

.header-box__icon {
  position: absolute;
  top: 18px;
  right: 26px;
}
