.header-modal-form {
  background-color: #e38299;
  width: 94%;
  max-width: 500px;
  height: 94%;
  max-height: 630px;
  border-radius: 10px;

  @media screen and (max-width: 375px) {
    padding: 10px;
  }

  @media screen and (max-width: 767px) {
    overflow-y: scroll;
  }

  @media screen and (max-height: 650px) and (orientation: landscape) {
    overflow-y: scroll;
  }
}

.header-modal-form__icon {
  --color2: var(--color-form-text);
}
