.input-number {
  width: 40px;
  height: 34px;
  background-color: var(--color-form-bg);
  position: relative;
  border: 1px solid #e38299;
  border-radius: 4px;
  outline: none;
  padding-left: 5px;
  appearance: none;
  transition: border-color 250ms;

  &:focus {
    border-color: var(--color-form-selection);
  }
}

.input-number:invalid + .input-number__validity::after {
  content: '✖';
  position: absolute;
  top: 11px;
  right: -18px;
  color: var(--color-header);
}

.input-number:valid + .input-number__validity::after {
  content: '✓';
  position: absolute;
  top: 11px;
  right: -18px;
  color: var(--color-white);
}
