.mobile-menu {
  background-color: var(--color-mobile-menu);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  overflow-y: scroll;
  width: 250px;
  height: 100%;
  padding-top: 60px;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    width: 254px;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu__toggle {
  width: 20px;
  height: 12px;
  background-color: var(--color-ice-cream);
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    background-color: var(--color-header-label);
  }

  &--makeover {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 23px;
    right: 28px;
    background-color: var(--color-mobile-menu);
  }
}

.mobile-menu__btn {
  width: 209px;
  position: relative;
  padding-right: 20px;
  margin-bottom: 19px;
  transition: background-color 250ms;

  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.mobile-menu__icon {
  position: absolute;
  top: 18px;
  right: 44px;

  @media screen and (min-width: 768px) {
    right: 42px;
  }
}
