.modal__products {
  max-width: 300px;

  @media screen and (min-width: 1280px) {
    max-width: 400px;
  }

  &--ice-cream {
    background: rgb(250, 120, 153);
    background: linear-gradient(0deg, rgba(250, 120, 153, 1) 0%, var(--color-white) 100%);
  }

  &--ice-coffee {
    background: rgb(232, 159, 55);
    background: linear-gradient(0deg, rgba(232, 159, 55, 1) 0%, var(--color-white) 100%);
  }

  &--milkshakes {
    background: rgb(133, 177, 74);
    background: linear-gradient(0deg, rgba(133, 177, 74, 1) 0%, var(--color-white) 100%);
  }
}
.products-modal__title {
  font-family: Titan One, sans-serif;
  font-size: 20px;
  @media screen and (min-width: 768px) {
    font-size: var(--font-header-label-tablet);
  }
  @media screen and (min-width: 1280px) {
    font-size: var(--font-header-label-desktop);
  }
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  margin-top: 30px;
  margin-bottom: 0px;

  &--ice-cream {
    color: var(--color-mobile-menu);
  }

  &--ice-coffee {
    color: #d1913c;
  }

  &--milkshakes {
    color: #95c456;
  }
}

.products-modal__description {
  padding: 40px 15px 20px 15px;
  @media screen and (min-width: 1280px) {
    padding: 40px 40px 20px 40px;
  }
  font-size: var(--font-header-label-mobile);
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }

  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: center;
  text-shadow: 2px 2px 4px darkgray;
  color: var(--color-white);
}

.modal__cross {
  &--ice-cream {
    --color6: var(--color-header);
  }

  &--ice-coffee {
    fill: #d1913c;
  }

  &--milkshaek {
    fill: #95c456;
  }
}
