.slogan {
  width: 230px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
}

.slogan__title {
  color: var(--color-white);
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
    width: 170px;
    margin-top: 15px;
  }

  &--accent {
    color: var(--color-header);
    font-size: var(--font-header-tablet);
    line-height: 0.96;

    @media screen and (min-width: 768px) {
      font-size: var(--font-header-mobile);
      line-height: 0.91;
    }
  }
}
